* {
    margin: 0;
    padding: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h1,
h2,
h3 {
    text-align: center;
}
img {
    max-width: 100%;
}

.photo-number__gallery {
    padding-top: 600px;
}
/* #basis {
    position: relative;
    margin: auto;
    width: 1000px;
    text-align: center;
} */
/* .im {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    cursor: pointer;
    z-index: 1;
}
#i1 {
    left: 10px;
    top: 10px;
}
#i2 {
    left: 322px;
    top: 10px;
}
#i3 {
    left: 634px;
    top: 10px;
}
#i4 {
    left: 10px;
    top: 220px;
}
#i5 {
    left: 322px;
    top: 220px;
}
#i6 {
    left: 634px;
    top: 220px;
}
 */
/* #basis {
    position: relative;
    margin: auto;
    width: 1000px;
    text-align: center;
}
#sel {
    border: 1px solid #000;
    width: 200px;
    font-size: 20px;
}
.im {
    width: 300px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #000;
}
#bas,
#view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#bas {
    z-index: 1;
    background-color: #fff;
    opacity: 0.95;
}
#view {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pict {
    border: 1px solid #000;
    cursor: pointer;
} */

/*Слои вместо фото*/
/* #basis {
    position: relative;
    margin: auto;
    width: 1000px;
}
#bas,
#view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#bas {
    z-index: 1;
    background: #ffffff;
    opacity: 0.95;
}
#view {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pict {
    border: 1px solid #000000;
    cursor: pointer;
}
.im {
    position: absolute;
    cursor: pointer;
}
#fr1 {
    top: 56px;
    left: 88px;
    width: 200px;
    height: 150px;
}
#fr2 {
    top: 84px;
    left: 374px;
    width: 200px;
    height: 150px;
}
#fr3 {
    top: 36px;
    left: 665px;
    width: 200px;
    height: 150px;
}
#fr4 {
    top: 274px;
    left: 158px;
    width: 200px;
    height: 150px;
}
#fr5 {
    top: 308px;
    left: 454px;
    width: 200px;
    height: 150px;
}
#fr6 {
    top: 267px;
    left: 743px;
    width: 200px;
    height: 150px;
} */

/*Конец Слои вместо фото*/

/*Галереи*/
/*Смещаем фото вверх*/

#basis,
#basis92,
#basis94,
#basis96,
#basis97,
#basis98,
#basis101,
#basis102,
#basis112,
#basis121 {
    position: relative;
    width: 1000px;
    margin: auto;
}
.im {
    position: absolute;
    top: 10px;
    left: 200px;
    border: 1px solid #000;
}
#i1 {
    z-index: 7;
}
#i2 {
    z-index: 6;
}
#i3 {
    z-index: 5;
}
#i4 {
    z-index: 4;
}
#i5 {
    z-index: 3;
}
#i6 {
    z-index: 2;
}
#bu {
    position: absolute;
    top: 450px;
    left: 200px;
    width: 250px;
    height: 40px;
    border: 1px solid #000000;
    box-shadow: #333333 5px 5px 8px;
    font-size: 20px;
    cursor: pointer;
}
/*Конец фото вверх*/

/*   Фото по номерам*/
#basis92,
#basis96 {
    text-align: center;
}
#bu92 a {
    margin: 20px;
    font-size: 30px;
}
.curs {
    cursor: auto;
    color: #cc0000;
}
/* Конец  Фото по номерам*/
/*Перемотка от центра*/
.center__gallery {
    padding-top: 200px;
}
#fon1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 350px;
    height: 400px;
    background: #ffffff;
}
#fon2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 350px;
    height: 400px;
    background: #ffffff;
}
.im94 {
    position: absolute;
    top: 50px;
    width: 300px;
}
#i941,
#i942,
#i943,
#i944 {
    left: 50px;
}
#i945 {
    left: 350px;
}
#i946,
#i947,
#i948,
#i949 {
    left: 650px;
}
#nz,
#vp {
    position: absolute;
    top: 280px;
    cursor: pointer;
    width: 30px;
}
#nz {
    left: 430px;
    transform: rotateY(180deg);
}
#vp {
    left: 550px;
}
/*Конец Перемотка от центра*/
/*Галерея-аккардион*/
.accardion__gallery {
    padding-top: 430px;
}
#bas96 {
    position: relative;
    margin: auto;
    width: 600px;
    height: 400px;
    border: 1px solid #000000;
}
.im96 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 400px;
}
#i961 {
    width: 600px;
}
#bu96 {
    width: 250px;
    height: 40px;
    border: 1px solid #000;
    box-shadow: #333333 5px 5px 8px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}
/*Конец Галерея-аккардион*/
/*Галерея с ограничителями*/
.bord__gallery {
    padding-top: 100px;
}
#im97,
#im98 {
    position: absolute;
    top: 20px;
    left: 200px;
    border: 1px solid #000000;
    width: 400px;
}
#nz97,
#vp97,
#nz98,
#vp98 {
    position: absolute;
    top: 150px;
    cursor: pointer;
    width: 50px;
}
#nz97 {
    left: 130px;
    visibility: hidden;
    transform: rotateY(180deg);
}
#vp97,
#vp98 {
    left: 620px;
}

/*Конец Галерея с ограничителями*/
/*Замкнутая галерея*/
.close__gallery {
    padding-top: 340px;
}
#nz98 {
    left: 130px;
    transform: rotateY(180deg);
}
/*Конец Замкнутая галерея*/
/*Оптимальная галерея*/
.optim__gallery {
    padding-top: 350px;
}
#basis99 {
    position: relative;
    margin: auto;
    width: 1000px;
    text-align: center;
}
.im99 {
    border: 1px solid #000000;
    width: 300px;
    cursor: pointer;
    margin: 10px;
}
#bas99,
#view99 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#bas99 {
    z-index: 1;
    background: #ffffff;
    opacity: 0.95;
}
#view99 {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pict99 {
    border: 1px solid #000000;
    cursor: pointer;
}
#nz99,
#vp99 {
    cursor: pointer;
}
#nz99 {
    margin-right: 20px;
    transform: rotateY(180deg);
}
#vp99 {
    margin-left: 20px;
}
/*Конец Оптимальная галерея*/
/*Конец галереи*/

/*  Автоматические слайдеры */

/*Левый слайдер*/
.auto__sliders {
    padding-top: 160px;
}

#p1 {
    z-index: 16;
}
#p2 {
    z-index: 15;
}
#p3 {
    z-index: 14;
}
#p4 {
    z-index: 13;
}
#p5 {
    z-index: 12;
}
#p6 {
    z-index: 11;
}
.im101 {
    position: absolute;
    left: 200px;
    top: 20px;
    border: 1px solid #000000;
    width: 600px;
}

/*Конец Левый слайдер*/
/*Слайдер с растворением*/
.auto-opac__slider {
    padding-top: 500px;
}
#i1021 {
    opacity: 1;
}
.im102 {
    position: absolute;
    top: 10px;
    left: 200px;
    border: 1px solid #000000;
    opacity: 0;
    width: 600px;
}

/*Конец Слайдер с растворением*/
/*Добавляем снимки*/
.addit__slider {
    padding-top: 550px;
    display: flex;
    flex-direction: column;
}
#basis111 {
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    text-align: center;
}

#basis111 img,
.addit__img {
    width: 300px;
}
.addit__img {
    margin-left: 3px;
}
#addit {
    margin: auto;
    width: 350px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: #0000cc;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #000000;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
/*Конец Добавляем снимки*/

/*Конец Автоматические слайдеры*/

/*Перемещение изображений*/

.h2__direct {
    margin-top: 60px;
}
/*Направляем ракету*/
#direct__images {
    padding-top: 30px;
}
#basis121 {
    height: 50vh;
}
#roc {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    width: calc(300px / 2);
}
/*Конец Направляем ракету*/

/*Конец Перемещение изображений*/
