* {
    margin: 0;
    padding: 0;
    border: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h1,
h2 {
    text-align: center;
}
#basis {
    position: relative;
    margin: auto;
    width: 1000px;
}
.im {
    position: absolute;
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    cursor: pointer;
    z-index: 1;
}
#i1 {
    left: 10px;
    top: 10px;
}
#i2 {
    left: 322px;
    top: 10px;
}
#i3 {
    left: 634px;
    top: 10px;
}
#i4 {
    left: 10px;
    top: 220px;
}
#i5 {
    left: 322px;
    top: 220px;
}
#i6 {
    left: 634px;
    top: 220px;
}
